.main-heading{
  font-size: 3em;
  padding: 1% 2%;
}

.error-heading{
  color: $error-color;
}

.global {
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
}

.image-label{
  font-size: 1.5em;
}

.center-align{
  text-align: center;
}

.form-headings{
  color: #73735C;
  font-weight: bold;
  font-size: 1.3em;
}
